<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>header</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
html, body {
	background: #626262;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

body img {
	margin-top: 50%;
}
</style>
<script type="text/javascript" language="JavaScript">

</script>
</head>
<body onselect="return false;">
	<table height="100%" cellspacing="0" cellpadding="0" id="tbl">
		<tbody>
			<tr>
				<td><a href="javascript:toggleMenu();"><img
						th:src="@{/static/images/arrow_left.gif}" width="10" height="30"
						id="img" border="0" /></a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>