<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新增产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<div class="wrap">
		<div class="page-title">
			<span class="modular fl"><i></i><em>我要缴费</em></span>
		</div>

		<table class="list-style">
			<tr>
				<td style="text-align: right; width: 15%;">住户姓名：</td>
				<td><input type="text" class="textBox" /></td>
			</tr>
			<tr>
				<td style="text-align: right; width: 15%;">住房信息：</td>
				<td><input type="text" class="textBox" /></td>
			</tr>
			<tr>
				<td style="text-align: right; width: 10%;">缴费项目：</td>
				<td><select class="textBox">
						<option>顶级分类</option>
						<option>某分类</option>
				</select></td>
			</tr>
			<tr>
				<td style="text-align: right; width: 15%;">金额：</td>
				<td><input type="text" class="textBox" /></td>
			</tr>
			<tr>
				<td style="text-align: right;"></td>
				<td><input type="submit" value="保存" class="tdBtn" /></td>
			</tr>
		</table>
	</div>
</body>
</html>