<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新增产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
</head>
<body>
	<div class="wrap">
		<div class="page-title">
			<span class="modular fl"><i></i><em>我要报修</em></span>
		</div>

		<form action="" method="post">
			<table class="list-style">
				<tr>
					<td style="text-align: right; width: 15%;">报修分类：</td>
					<td><input id="mname" name="mname" type="text" class="textBox" /></td>
				</tr>
				<tr>
					<td style="text-align: right;">备注：</td>
					<td><textarea id="remarks" name="remarks" class="textarea"></textarea></td>
				</tr>
				<tr>
					<td style="text-align: right;"></td>
					<td><input onclick="addMsg()" type="button" value="保存"
						class="tdBtn" /></td>
				</tr>
			</table>
		</form>
	</div>
	<script>
		function addMsg() {
			var mname = $("#mname").val();
			var remarks = $("#remarks").val();
			if(mname.replace(/(^s*)|(s*$)/g, "").length ==0){
				alert("报修信息不能为空");
			}else{
				$.post("/message/add", {
					mname : mname,
					remarks : remarks
				}, function(data) {
					if (data.isSuccess == true) {
						alert(data.message);
						window.location.href = "normal_list";
						//$(location).attr('href','user/selectAll');
					} else {
						alert(data.message);
					}
				}, "json");
			}

		}
	</script>
</body>
</html>