<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>更新</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
</head>
<body>
	<div class="wrap">
		<div class="page-title">
			<span class="modular fl"><i class="edit_user"></i><em>更新业主资料</em></span>
		</div>
		<form th:object="${owner}" action="" method="post" id="updForm">
			<input id="owner_id" th:value="*{ownerId}" type="hidden" />
			<table class="list-style">
				<tr>
					<td style="width: 15%; text-align: right;">姓名：</td>
					<td><input id="oname" th:value="*{oname}" type="text"
						class="textBox length-middle" value="DeathGhost" /></td>
				</tr>
				<tr>
					<td style="text-align: right;">手机号码：</td>
					<td><input id="phone" th:value="*{phone}" type="text"
						class="textBox length-middle" value="18309275673" /></td>
				</tr>
				<tr>
					<td style="text-align: right;">登录名：</td>
					<td><input id="username" th:value="${username}" type="text"
						class="textBox length-middle" value="5000000" disabled="disabled" /></td>
				</tr>
				<tr>

					<tr>
						<td style="text-align: right;"></td>
						<td><input onclick="updById()" type="button" class="tdBtn"
							value="更新保存" /></td>
					</tr>
				</tr>
			</table>
		</form>
	</div>
	<script>
		function updById() {
			var ownerId = $("#owner_id").val();
			var oname = $("#oname").val();
			var phone = $("#phone").val();
			$.ajax({
				url : "upd",
				type : "POST",
				contentType : "application/json;charset=utf-8",
				data : JSON.stringify({
					ownerId : ownerId,
					oname : oname,
					phone : phone
				}),
				success : function(data) {
					if (data.isSuccess == true) {
						alert(data.message);
						window.location.href="list";
					} else {
						alert(data.message);
					}
				}
			});
		}
	</script>
</body>
</html>