<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>更新</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
</head>
<body>
	<div class="wrap">
		<div class="page-title">
			<span class="modular fl"><i class="edit_user"></i><em>更新车位信息</em></span>
		</div>
		<form action="" method="post" id="updForm">
			<input id="owner_id" th:value="${owner.ownerId}" type="hidden" /> <input
				id="old_bid" th:value="${parking.parkingId}" type="hidden" />
			<table class="list-style">
				<tr>
					<td style="text-align: right;">车位号：</td>
					<td><input id="number" th:value="${parking.number}"
						type="text" class="textBox length-middle" value="5000000"
						disabled="disabled" /></td>
				</tr>
				<tr>
					<td style="width: 15%; text-align: right;">姓名：</td>
					<td><input id="oname" th:value="${owner.oname}" type="text"
						class="textBox length-middle" value="DeathGhost"
						disabled="disabled" /></td>
				</tr>
				<tr>
					<td style="text-align: right;">手机号码：</td>
					<td><input id="phone" th:value="${owner.phone}" type="text"
						class="textBox length-middle" value="18309275673"
						disabled="disabled" /></td>
				</tr>
				<tr>
					<td style="text-align: right; width: 10%;">更换新的住房信息：</td>
					<td><select id="p_num"
						name="p_num" class="textBox">
							<option value="0">选择车位</option>
							<option th:each="arrayS:${p_num}" th:text="${arrayS}" th:value="${arrayS}">某分类</option>
					</select></td>
				</tr>

				<tr>

					<tr>
						<td style="text-align: right;"></td>
						<td><input onclick="updById()" type="button" class="tdBtn"
							value="更新保存" /></td>
					</tr>
				</tr>
			</table>
		</form>
	</div>
	<script>
		function updById() {
			var old_num = $("#number").val();
			var new_num = $("#p_num").val();
			var owner_id = $("#owner_id").val();
			$.post("/parking/upd", {
				old_num : old_num,
				new_num : new_num,
				owner_id : owner_id
			}, function(data) {
				if (data.isSuccess == true) {
					alert(data.message);
					window.location.href = "list";
					//$(location).attr('href','user/selectAll');
				} else {
					alert(data.message);
				}
			}, "json");
		}
	</script>
</body>
</html>