<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<title>注册</title>
		<link href="static/css/layout.css" rel="stylesheet" type="text/css">
		<link href="static/css/login.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="static/js/js.js"></script>
		<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
	</head>

	<body class="login-bg">
		<!--登录-->
		<div class="main">
			<div class="login-dom">
				<div class="logo text-center">
				</div>
				<!--注册-->
				<div class="text-big text-center logo-color">同一个账号，连接一切</div>
				<div class=" text-center margin-small-top logo-color text-small">注册帐号 </div>
				<form class="register-form" action="" method="post">
					<div class="reg-wrap border">
						<div class="reg-number border-bottom">
							<div class="fl reg-area text-gray">帐号<span style="color: red;">*</span></div>
							<input type="text" class="fl reg-phone" name="mobile" id="mobile" placeholder="请输入帐号"/>
						</div>
						<div class="reg-number border-bottom">
							<div class="fl reg-area text-gray">密码<span style="color: red;">*</span></div>
							<input type="text" class="fl reg-phone" name="mobile" id="mobile" placeholder="请输入密码"/>
						</div>
					</div>
					<input type="hidden" name="formhash" value="5abb5d21" />
					<div class="margin-large-top padding-big-top">
						<input type="submit" class="btn text-big" value="立即注册">
					</div>
					<!-- <div class="reg-btn text-center text-big logo-color" type="submit">立即注册</div> -->
				</form>
				<div class="forget">
					<a href="" class="forget-pwd text-small fl">忘记登录密码？</a>
					<a href="login.html" class="forget-new text-small fr" id="forger-login">已有账号，立即登录</a>
				</div>
			</div>
			
		</div>

		<div class="popupDom">
			<div class="popup  text-default">
			</div>
		</div>
		</div>
		</script>
	</body>

</html>