<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<title>忘记密码</title>
		<link href="static/css/layout.css" rel="stylesheet" type="text/css">
		<link href="static/css/login.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="static/js/js.js"></script>
		<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
		<style>
			.gt_ajax_tip .ready{right: -56px;}
		</style>
	</head>

<body class="login-bg">
	<div class="main ">
		<!--登录-->
		<div class="login-dom login-max">
			<div class="logo text-center">
				
			</div>
			<div class="login container " id="login">
				<p class="text-big text-center logo-color">
					同一个账号，连接一切
				</p>
				<p class=" text-center margin-small-top logo-color text-small">
					忘记密码？
				</p>
				<form class="register-form" action="index.html" method="post" autocomplete="off">
					<div class="num-box ">
						<div class="area fl">
							+86(中国)
						</div>
						<input type="text" placeholder="请输入手机号" autofocus="true" id="num-name" name="mobile" datatype="m" nullmsg="请填写正确的手机号码">
					</div>
					<div class="slider-box">
						<div id="captcha" style="margin-left: 12px;">
						</div>
					</div>
					<input type="hidden" name="formhash" value="5abb5d21"/>
					<input type="submit" class="btn text-center login-btn" value="确认">
					<div class="forget">
						<a href="repassword.html" class="forget-pwd text-small fl">忘记登录密码？</a><a href="login.html" class="forget-new text-small fr" id="forger-login">已有账号，立即登录</a>
					</div>
				</form>
			</div>
		</div>
		<div class="popupDom">
			<div class="popup text-default">
			</div>
		</div>
	</div>
</body>
</html>