<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>修改密码</em></span>
  </div>
  <table class="noborder">
   <tr>
    <td style="text-align:right;">新密码：</td>
    <td><input id="pwd" type="password" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;">再次确认密码：</td>
    <td><input id="ok_pwd" type="password" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input onclick="updById()" type="button" class="tdBtn" value="保存"/></td>
   </tr>
  </table>
 </div>
<script>
		function updById() {
			var pwd = $("#pwd").val();
			var ok_pwd = $("#ok_pwd").val();
			if(pwd!=ok_pwd){
				alert("密码不一致");
			}else{
				$.post("/index/revisePwd", {
					pwd : pwd
				}, function(data) {
					if (data.isSuccess == true) {
						alert(data.message);
						window.location.href = "main";
						//$(location).attr('href','user/selectAll');
					} else {
						alert(data.message);
					}
				}, "json");
			}
			
		}
</script>
</body>
</html>