<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>添加用户</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/static/style/adminStyle.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<div class="wrap">
		<div class="page-title">
			<span class="modular fl"><i></i><em>添加用户</em></span>
		</div>

		<table class="list-style">
			<tr>
				<td style="text-align: right; width: 15%;">姓名：</td>
				<td><input id="addr" name="addr" type="text" class="textBox" /></td>
			</tr>
			<tr>
				<td style="text-align: right; width: 15%;">帐号：</td>
				<td><input id="addr" name="addr" type="text" class="textBox" /></td>
			</tr>
			<tr>
				<td style="text-align: right; width: 10%;">用户类型：</td>
				<td><select id="type" name="type" class="textBox">
						<option>管理员</option>
				</select></td>
			</tr>
			<tr>
				<td style="text-align: right;"></td>
				<td><input type="submit" value="保存" class="tdBtn" /></td>
			</tr>
		</table>
	</div>
</body>
</html>